
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Patrick+Hand&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --ul-color:rgba(0, 0, 0, 0.76);
    --modo-preparo:rgba(248, 152, 9, 1);
}

html{
    background-color: #FDF8C9;
}

body{
   align-items: center;
    background-color: #FDF3F3;
    box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.25);

    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 4rem;

    border-radius: 1rem;
    max-width: 131.9rem;
    width: 90%;
    height: 169rem;

    margin-left: auto;
    margin-right: auto;
}

header{
    max-width: auto;
    height: 13.6rem;

    background: #F38FDD;
}

header>p{
    font-family: 'Damion';
    font-size: 10rem;

    color: white;
    margin-left: 8.5rem;

}

h2{
    background-color: #F8D000;

    margin-top: 5.9rem;
    max-width: 76.8rem;
    height: 7.4rem;

    color: white;
    font-family: 'Damion';
    font-size: 5rem;
    font-weight: 400;
    
    padding-left: 4.5rem;
    margin-bottom: 2.8rem; 
}

ul,ol{
    font-family: 'Patrick Hand';
    font-size: 1.8rem;
    line-height: 3.3rem;
    color: var(--ul-color);

    margin-left: 7rem;
    margin-bottom: 1.8rem;
}

h3{
    font-family: 'Damion';
    font-size: 4rem;
    font-weight: 400;
    line-height: 5.5rem;

    margin-left: 4.5rem;

    color: var(--modo-preparo);
}

.valor-nutricional{
    display: flex;
    justify-content: center;
}

table{
    margin-top: 9.2rem;

    width: 121.6rem;
    height: 10.5rem;  
    
    border: none;
    border-spacing: .5rem;
}

tr{
    text-align: center;
    border: none;

    color: white;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;
}

td:first-child{
    background-color: rgba(71, 235, 117, 0.88);
}

td{
    
    border: none;
    background-color: #F8D000;
}

.footer-line{
    background-color: #F38FDD;
    height: 2.5rem;
    max-width: auto;
    
    margin-top: 11rem;
}

.footer-text{
    display: flex;
    justify-content: space-between;

    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3rem;

    margin-left: 5.9rem;

    color: white;
}

.footer-text:last-child{
    margin-right: 11.5rem;
}



